@{
    ViewBag.Title = "Contact me";
}

<link href="~/Content/cover.css" rel="stylesheet">

<section id="home_wrapper" class="home-wrapper">

    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center">
                <h1 class="home-title wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">Email</h1>
                <p class="home-subtitle wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;"><a href="mailto:xhuang1996@live.com">xhuang1996@live.com</a></p>
                    <h1 class="home-title wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">Address</h1>
                <p class="home-subtitle wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">Room 1010, Department of Computer Science & Technology, Xianlin Campus of Nanjing University</p>
</div>
        </div>
    </div>
</section>
