
.home-wrapper{
/*	width:100%; */
	position:relative;
	overflow:hidden;
	z-index:100;
	padding:100px 0 100px 0;
    min-height:500px;
	/*background: url(../images/bg.jpg);
	background-position: center top;
    background-repeat: no-repeat;
	background-attachment: scroll;
    background-size: cover;*/
}

h1.home-title{
	font-size:42px;
	line-height:54px;
	font-weight:500;
	color:#fff;
	letter-spacing: 1px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

p.home-subtitle{
	font-size:18px;
	line-height:32px;
	font-weight:400;
	color:#fff;
	margin-bottom:25px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
    