html {
  position: relative;
}

body {
    padding-top:100px;
    background-color: #333;
}

.footer {
    padding-top:20px;
    padding-bottom:10px;
    margin-top:0px;
    margin-left:-75px;
    margin-right:-75px;
    text-align:center;
    background-color:#333;
    color:#fff;
    /*position: absolute;
    bottom: 0;
    width: ;
    /* Set the fixed height of the footer here 
    height: 60px;
    background-color: #333;*/
}

.fullpage
{
    min-height:480px;
}
